{% extends 'base.html.twig' %}

{% block title %}theWOWGuild{% endblock %}

{% block body %}


<div class="jumbotron" style="background-image: url(https://images8.alphacoders.com/835/835664.jpg); background-size: 100%;">
    <h1 class = "display-2 text-primary text-right">Welcome to <br><em class = "text-dark">theWOWGuild</em></h1>
</div>

    {% if app.user == false %}
        <div class="jumbotron">
            <div class="card rounded bg-primary">
                <div class="card-header bg-light">
                    <h2 class="text-center display-6 text-primary">Connect</h2>
                </div>
                <div class="card-body text-center bg-transparent">
                    <h5 class="card-title">Connect to your Avatar</h5>
                    <p class="card-text">The Fellowship welcomes you</p>
                    <a href="{{ path('app_login') }}" class="btn btn-light align-center text-dark">LOGIN</a>
                </div>
            </div>
        </div>

        <div class="jumbotron">
            <div class="card rounded bg-primary">
                <div class="card-header bg-light">
                    <h2 class="text-center display-6 text-primary">Register</h2>
                </div>
                <div class="card-body text-center bg-transparent">
                    <h5 class="card-title">Join our Fellowship and take a part</h5>
                    <p class="card-text">Let's own  Azeroth</p>
                    <a href="{{ path('app_register') }}" class="btn btn-light align-center text-dark">REGISTER</a>
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}
